*{
    padding: 0px;
    margin: 0px;
    font-family: 'Nexa', sans-serif ;
                                                
}
.main-container{
    width: 1200px;
    display: block;
    margin: auto;
}
/* .background {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(to right, #33468c , #183971);
    padding: 30px 30px;
    /* opacity: 0.1; */
    /* z-index: -1; */
/* }  */
header.main-nav {
    margin: 7px 0px;
    z-index: 1;
}
/* header{
    background: #1a4388;
} */
nav{
    display: flex;
    align-items: center;
}
.left {
    width: 100%;
}
.left > img{
    width: 200px;
    /* filter: brightness(0) invert(1); */
}
.center {
    width: 100%;
}
.center > ul{
    display: flex;
    justify-content: space-between;
}
.center > ul > li {
    list-style: none;
}
.center > ul > li > a{
    text-decoration: none;
    font-weight: 600;
    color: black;
} 
.right {
    width: 100%;
    display: flex;
    justify-content: center;
}
.icon{
    padding: 10px 10px;
}
/* mobile css */
.nav-show {
    display: none;
    justify-content: space-evenly;
    align-items: center;
}
.icon-show {
    width: 100%;
    text-align: end;
    padding: 0px 30px;
}
.main {
    display: none;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ul {
    text-align: center;
    margin: 20px;
}

.ul>ul>li {
    list-style: none;
}

.ul>ul>li>a {

    text-decoration: none;
    color: #222;

}

/* end here  */

/* slider start here  */
.main-slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0px;
}
.main-content {
    width: 100%;
}
.main-imge {
    width: 100%;
    text-align: center;
}

.main-content h1 {
    font-size: 70px;
}
.content-para > p {
    font-size: 15px;
}
.content-btn{
    margin: 10px 0px;
}
.content-btn > button {
    border: none;
    background: #173c79;
    color: white;
    padding: 15px 40px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 10px;
}
/* bg1  */
.bg1 {
    position: absolute;
    left: 0;
    right: 0;
}
.bg1 > img {
    width: 100%;
    height: 750px;
}

/* container 1  */
.main-cont1{
    /* margin: 100px 0px; */
    background: linear-gradient(to right, #003072 , #65b1c6);
    position: absolute;
    left: 0; 
    right: 0; 
    padding: 30px 80px;
}
i.icon {
    font-size: 40px;
    color: #173c79;
}

.main-head-cont1 {
 width: 65%;
}
.main-head-cont1 > h1 {
    font-size: 50px;
    color: white;
    padding: 15px 0px;
}
.sub-head-cont1 > h3 {
    color: #f29906;
    font-size: 25px;
}
.cont1-para {
    width: 60%;
}.cont1-para > p{
    font-size: 18px;
    color: #f29906;
    padding: 15px 0px;
    font-weight: 600;
}
.flex-cont1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
}
.sub-cont1 {
    padding: 10px 40px;
   
}
.sub-head > h2{
    color: white;
}
.sub-para > p{
    color: white;
}
.cont1-btn > button {
    background:  #f29906;
    border: none;
    color: white;
    padding: 15px 65px;
    font-size: 17px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* container 2  */
.main-what {
    /* padding: 30px 80px; */
    /* margin: 200px 0px; */

  margin-top: 660px;  
    font-family: 'Nexa', sans-serif  !important;
}
.submain-what1 {
    text-align: center;
}
.main-what-heading > h1{
    font-size: 40px;
    font-weight: bolder;
}
.main-what-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px 0px 0px 0px;
}
.submain-card {
    width: 20%;
    text-align: center;
    padding: 40px 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 20px 20px;
    border-radius: 12px;
    border: 1px solid #e8e8e8;
}

i.fa-solid.fa-code {
    font-size: 40px;
    color: hsl(208deg 86% 31%);
}
.icon-card {
    margin: 20px 0px;
}
.card-service-name {
    margin: 20px 0px;
}
.content-card {
    margin: 20px 0px;
}
.card-show > a{
    color: hsl(208deg 86% 31%);
}

 /* 
 container 2 end  */

/* container 1  */
/* .main-cont1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 55px 0px;
    padding: 90px 0px;
}
.main-cont1-heading {
    text-align: center;
    margin: 25px 0px;
}
.main-cont1-heading > h1{
    font-size: 50px;
    color: white;
}
.submain-main {
    display: flex;
    justify-content: space-between;

   
}
a.submain-a {
    text-decoration: none;
}
.submain-cont {
    width: 100%;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    padding: 20px 30px;
    border-radius: 15px;
    background: white;
}
.submain-cont:hover{
     background: white; 
      box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}
.submain-icon {
    width: 100%;
    text-align: center;
    padding: 25px 0px;
}

.submain-icon > img{
    width: 90px;
}
.content-submain {
    text-align: center;
}
.content-submain > p {
    color: #2e2e2e;
    font-weight: 600;
}

.content-submain >h4 {
    font-size: 20px;
    color: #0a4723;
} */
/* end here  */


/* 3nd cont formatting  */
.slider {
    max-width: 1000px;
    margin: 0 auto;
  }
  .slick-slide {
    margin: 0 5px;
  }
  .slick-list {
    margin: 0px -5px 0px -5px;
  }
  button.slick-next, button.slick-next:hover {
    position: absolute;
    top: 41%;
    right: 54px;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
  }
  button.slick-prev, button.slick-prev:hover {
    position: absolute;
    top: 41%;
    left: 15px;
    z-index: 1;
    width: 47px;
    height: 75px;
    background-image: url("http://maggiesadler.com/wp-content/uploads/2015/10/left-right-arrow.png");
    background-size: 95px;
        background-position-x: right;
  }
  .slick-prev:before, .slick-next:before {
    font-size: 70px;
    color: #EA8496;
    line-height: inherit;
    font-weight: bold;
  }
  .slider img {
    height: 324px;
  }
  
  /* Slick Slider Styles -- Provided by https://kenwheeler.github.io/slick/ */
  /* Slider */
  .slick-slider
  {
      position: relative;
  
      display: block;
  
      -moz-box-sizing: border-box;
           box-sizing: border-box;
  
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list
  {
      position: relative;
  
      display: block;
      overflow: hidden;
  
      margin: 0;
      padding: 0;
  }
  .slick-list:focus
  {
      outline: none;
  }
  .slick-list.dragging
  {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track,
  .slick-slider .slick-list
  {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track
  {
      position: relative;
      top: 0;
      left: 0;
  
      display: block;
  }
  .slick-track:before,
  .slick-track:after
  {
      display: table;
  
      content: '';
  }
  .slick-track:after
  {
      clear: both;
  }
  .slick-loading .slick-track
  {
      visibility: hidden;
  }
  
  .slick-slide
  {
      display: none;
      float: left;
  
      height: 100%;
      min-height: 1px;
  }
  [dir='rtl'] .slick-slide
  {
      float: right;
  }
  .slick-slide img
  {
      display: block;
  }
  .slick-slide.slick-loading img
  {
      display: none;
  }
  .slick-slide.dragging img
  {
      pointer-events: none;
  }
  .slick-initialized .slick-slide
  {
      display: block;
  }
  .slick-loading .slick-slide
  {
      visibility: hidden;
  }
  .slick-vertical .slick-slide
  {
      display: block;
  
      height: auto;
  
      border: 1px solid transparent;
  }
  .slick-arrow.slick-hidden {
      display: none;
  }
  @charset 'UTF-8';
  /* Slider */
  .slick-loading .slick-list
  {
      background: #fff url('http://maggiesadler.com/wp-content/uploads/2015/10/ajax-loader.gif') center center no-repeat;
  }
  
  /* Icons */
  @font-face
  {
      font-family: 'slick';
      font-weight: normal;
      font-style: normal;
  
      src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot');
      src: url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.eot?#iefix') format('embedded-opentype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.woff') format('woff'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.ttf') format('truetype'), url('file:///C:/Users/msadler/Desktop/slick-1.5.7/slick/fonts/slick.svg#slick') format('svg');
  }
  /* Arrows */
  .slick-prev,
  .slick-next
  {
      font-size: 0;
      line-height: 0;
  
      position: absolute;
      top: 50%;
  
      display: block;
  
      width: 20px;
      height: 20px;
      margin-top: -10px;
      padding: 0;
  
      cursor: pointer;
  
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus
  {
      color: transparent;
      outline: none;
      background: transparent;
  }
  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before
  {
      opacity: 1;
  }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before
  {
      opacity: .25;
  }
  
  .slick-prev:before,
  .slick-next:before
  {
      font-family: 'slick';
      font-size: 20px;
      line-height: 1;
  
      opacity: .75;
      color: white;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .slick-prev
  {
      left: -25px;
  }
  [dir='rtl'] .slick-prev
  {
      right: -25px;
      left: auto;
  }
  .slick-prev:before
  {
      content: '';
  }
  [dir='rtl'] .slick-prev:before
  {
      content: '';
      font-weight: bold;
      font-size: 20px;
  }
  
  .slick-next
  {
      right: -25px;
  }
  [dir='rtl'] .slick-next
  {
      right: auto;
      left: -25px;
  }
  .slick-next:before
  {
      content: '';
  }
  [dir='rtl'] .slick-next:before
  {
      content: '';
  }
  
  /* Dots */
  .slick-slider
  {
      margin-bottom: 30px;
  }
  
  .slick-dots
  {
      position: absolute;
      bottom: -45px;
  
      display: block;
  
      width: 100%;
      padding: 0;
  
      list-style: none;
  
      text-align: center;
  }
  .slick-dots li
  {
      position: relative;
  
      display: inline-block;
  
      width: 20px;
      height: 20px;
      margin: 0 5px;
      padding: 0;
  
      cursor: pointer;
  }
  .slick-dots li button
  {
      font-size: 0;
      line-height: 0;
  
      display: block;
  
      width: 20px;
      height: 20px;
      padding: 5px;
  
      cursor: pointer;
  
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;
  }
  .slick-dots li button:hover,
  .slick-dots li button:focus
  {
      outline: none;
  }
  .slick-dots li button:hover:before,
  .slick-dots li button:focus:before
  {
      opacity: 1;
  }
  .slick-dots li button:before
  {
      font-family: 'slick';
      font-size: 6px;
      line-height: 20px;
  
      position: absolute;
      top: 0;
      left: 0;
  
      width: 20px;
      height: 20px;
  
      content: '•';
      text-align: center;
  
      opacity: .25;
      color: black;
  
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  .slick-dots li.slick-active button:before
  {
      opacity: .75;
      color: black;
  }
  
/* 3nd cont end  */
/* data start  */
.main-get {
    position: absolute;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #003072 , #65b1c6);
    padding: 50px 80px;
    text-align: center;
    color: white;
}
.get-content {
    margin: 15px 0px;
}
.get-content > p{
    font-weight: 600;

}
.get-btn > button{
    background:  #f29906;
    border: none;
    color: white;
    padding: 15px 65px;
    font-size: 17px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
/* data end  */
/* carousal */
.crausal-heading.aos-init.aos-animate {
    text-align: center;
}



/* scroll bar */
/* total width */
.sd_scroll::-webkit-scrollbar {
    background-color:transparent;
    width:6px;
}

/* background of the scrollbar except button or resizer */
.sd_scroll::-webkit-scrollbar-track {
    background-color:transparent;
}
.sd_scroll::-webkit-scrollbar-track:hover {
    background-color:transparent;
}

/* scrollbar itself */
.sd_scroll::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:16px;
    
}
.sd_scroll::-webkit-scrollbar-thumb:hover {
    background-color:#a0a0a5;
}
/* data  */


.submain{
    margin-top: 90px;
    padding: 55px 30px;
    /* justify-content: center; */
    /* display: flex; */
    /* width: 100%; */
    /* background: rgb(84, 84, 239); */
    background: linear-gradient(to right, #003072 , #65b1c6);
    box-shadow: rgb(50 50 93 / 25%) 0px 13px 27px -5px, rgb(0 0 0 / 30%) 0px 8px 16px -8px;
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
}
.sub{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.on{
    display: flex;
    align-items: center;
}
.sub .Con > img{
    margin: 10px 30px;
    width: 50%;
    filter: brightness(0) invert(1);
}
.sub .h3{
    margin-left: -22px;
}

.sub .h3 >h3{
    font-size: 22px;
    color: white;
}

.sub .h3 >p{
    color: white;
}

/* data rnd  */



























@media screen and (max-width:1200px) {
    .main-container{
        /* padding: 0px 40px; */
        width: 100%;
        
    }
    .main-what{
        margin-top: 820px;
    }
}


@media screen and (max-width:900px) {
    .main-cont1{
        position: inherit;
    }
    .main-get {
        position: inherit;
    }
    .main-what{
        margin-top: 20px;
    }
    .main-container{
        width: 100%;
        padding: inherit;
    }
    header.main-nav{
        display: none;
    }
    .nav-show{
        display: flex;
    }
    div#Mob_icon {
        text-align: end;
        padding: 0px 100px;
    }
    .main-content{
        text-align: center;
        margin: 20px 0px;
    }
    .main-slider{
        flex-direction: column;
        /* margin: 20px 0px; */
    }
    .main-head-cont1 {
        width: 100%;
    }
    .main-head-cont1 > h1 {
        font-size: 50px;
    }
    .cont1-para{
        width: 100%;
    }
    .cont1-para > p {
        font-size: 23px;
    }
    .icons-t{
        width: 25%;
    }
    
    .icons-t > img{
        width: 200px;
    }
    .bg1 > img {
        
        height: 900px;
    }
    
    .submain-card{
        width: 30%;
    }
    /* .slider img{
        height: 120px;
    } */
    
}
@media screen and (max-width:700px) {
    .slider img {
        height: 230px;
    }   
    /* .main-what {
        margin-top: 1200px;
    } */
    .bg1 > img {
        
        height: 1200px;
    }
    .main-cont1.aos-init.aos-animate {
        text-align: center;
    }
    .flex-cont1 {
        flex-direction: column;
        /* width: 100%; */
    }
    .sub-cont1 {
        padding: 20px 60px;
    }
    .icons-t{
        width: 35%;
    }
    
    .icons-t > img{
        
        width: 100%;
        
    }
    .submain-main {
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    /* .slider  img {
        width: 100%;
        height: auto;
    } */
    .submain-card{
        width: 100%;
    }
    .submain{
        width: 100%;
        
    }
    
    .sub{
        /* display: block;
        text-align: center; */
        flex-direction: column;
        
    }
    
    
    .sub .Con > img{
        width: 100%;
    }
    .sub  .Con {
        margin: 30px;
    }
    
    .sub .h3 {
        padding: 20px 5px;
        margin: auto;
    }
    
    .sub .h3 >h3{
        font-size: 60px;
        color: white;
    }
       .sub .h3 >p{
           font-size: 30px;
       }
       
    }
    
    
    /* style for moblile */
    @media (max-width:576px){
    .sd_scroll {
        height: auto;
        overflow: auto;
        max-height:240px;
    }
    
    .thumbnail, .btnNtxt{
        width: 100% !important;
        display: block !important;
    }
    
    }
    @media screen and (max-width:500px) {
        .main-imge > img{
            width: 100%;
        }
        .bg1 > img {
  
        height: 1250px;
    }
    .feedback > p {
        padding: 40px 20px;
    }
    /* .slider img{
        height: 160px;
    } */
  
}

@media screen and (max-width:350px) {
  .main-cont1{
    padding: inherit;
  }
  .sub-cont1 {
    padding: 20px 30px;
}
.main-get{
    padding: 30px 20px;
}
}
